/*header*/
.site-head {
  position: relative;
}
.site-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
} */

.site-head-left {
  display: flex;
  position: relative;
  z-index: 100;
  align-items: center;
  font-size: 18px;
}

.site-head-left a,
.site-head-right a,
.site-head-center a {
  display: block;
  font-style: normal;
  padding: 0.5rem;
  color: #1f5b64;
  text-decoration: none;
}

.site-head a:hover {
  text-decoration: none;
  color: #257985;
}

.site-head-center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
}

.site-head-right {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.fa-shopping-cart {
  font-size: 28px;
  margin-left: -0.5rem;
  padding: 0.5rem;
}

hr {
  opacity: 0.5;
}

/* home */
.welcomeText {
  display: flex;
  color: #ff4447;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}

.welcomeText h2 {
  font-family: 'Averia Libre', cursive;
  margin-bottom: 0rem;
  font-style: bold;
  letter-spacing: 0.05em;
}
.welcomeText h1 {
  font-family: 'Amiko', sans-serif;
  margin-bottom: 0rem;
  margin-top: 12%;
  font-style: normal;
}
.welcomeText p {
  font-family: 'Averia Libre', cursive;
  color: #ff4447;
  margin-top: 0rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.shop-all-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop-all-btn-div button {
  font-family: 'Averia Libre', cursive;
  font-size: 24px;
  font-style: normal;
  background-color: #74d3d2;
  border: none;
  color: white;
  border-radius: 5px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.shop-all-btn-div button:hover {
  background-color: #1f5b64;
  cursor: pointer;
  transition: 1s;
}

body {
  font-family: 'Amiko', sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* featuredWigs and allWigs */
.allwigs-content {
  display: flex;
  flex-direction: column;
}

.featured-wig-container {
  display: flex;
  justify-content: space-between;
}

.wig-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wig-card {
  flex: 1 1 15%;
  margin: 10px 20px 25px;
}

.wig-img-div img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.wig-text-div {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wig-text-div p {
  text-align: left;
  font-family: 'Averia Libre', cursive;
  color: #257985;
  margin-bottom: 0px;
}
.wig-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wig-btn-div button {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.wig-btn-div button:disabled {
  background-color: grey;
}

/* body of the ViewCart page */
.cart-container {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.item-img-div img {
  display: flex;
  max-width: 100%;
  object-fit: contain;
  margin: 20px 20px;
  width: 200px;
}

.cart-div {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.item-text-div {
  display: flex;
  flex-direction: column;
  margin: 1px;
  justify-content: flex-start;
}

.item-name-padding {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.item-text-padding {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.item-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-btn-div button {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.checkout-btn-div {
  display: flex;
  flex-direction: row;
}

.checkout-btn {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

/* Checkout form beautification */
/* .order-summary {
  width: 70%;
}

.order-summary div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.summary-div {
  display: flex;
  flex-direction: row;
}

.summary-div p {
  padding: 10px;
  margin: 0;
} */

/* .form-box {

} */

h3 {
  color: #320e3b;
}

p {
  color: #320e3b;
}

#shop-name {
  /* font-weight: bolder; */
  font-size: 3em;
}
