/*header*/
.site-head {
  position: relative;
}
.site-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
} */

.site-head-left {
  display: flex;
  position: relative;
  z-index: 100;
  align-items: center;
  font-size: 18px;
}

.site-head-left a,
.site-head-right a,
.site-head-center a {
  display: block;
  font-style: normal;
  padding: 0.5rem;
  color: #1f5b64;
  text-decoration: none;
}

.site-head a:hover {
  text-decoration: none;
  color: #257985;
}

.site-head-center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
}

.site-head-right {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.fa-shopping-cart {
  font-size: 28px;
  margin-left: -0.5rem;
  padding: 0.5rem;
}

hr {
  opacity: 0.5;
}

/* home */
.welcomeText {
  display: flex;
  color: #ff4447;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}

.welcomeText h2 {
  font-family: 'Averia Libre', cursive;
  margin-bottom: 0rem;
  font-style: bold;
  letter-spacing: 0.05em;
}
.welcomeText h1 {
  font-family: 'Amiko', sans-serif;
  margin-bottom: 0rem;
  margin-top: 12%;
  font-style: normal;
}
.welcomeText p {
  font-family: 'Averia Libre', cursive;
  color: #ff4447;
  margin-top: 0rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.shop-all-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop-all-btn-div button {
  font-family: 'Averia Libre', cursive;
  font-size: 24px;
  font-style: normal;
  background-color: #74d3d2;
  border: none;
  color: white;
  border-radius: 5px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.shop-all-btn-div button:hover {
  background-color: #1f5b64;
  cursor: pointer;
  transition: 0.25s;
}

body {
  font-family: 'Amiko', sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* featuredWigs and allWigs */
.allwigs-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Amiko', sans-serif;
  margin-bottom: 0rem;
  font-style: normal;
  color: #ff4447;
}

.featured-wig-container {
  display: flex;
  justify-content: space-between;
}

.wig-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wig-card {
  flex: 1 1 15%;
  margin: 10px 20px 25px;
}

.wig-img-div img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* .wig-img-div img:hover {
  opacity: 0.5;
  cursor: pointer;
} */

.wig-text-div {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wig-text-div p {
  text-align: left;
  font-family: 'Averia Libre', cursive;
  color: #257985;
  margin-bottom: 0px;
  margin-top: 1px;
}
.wig-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wig-btn-div button {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.wig-btn-div button:hover {
  background-color: #1f5b64;
  cursor: pointer;
  transition: 0.25s;
}
.wig-btn-div button:disabled {
  background-color: grey;
}

/* body of the ViewCart page */
.cart-container {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.item-img-div img {
  display: flex;
  max-width: 100%;
  object-fit: contain;
  margin: 20px 20px;
  width: 200px;
}

.cart-div {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.item-text-div {
  display: flex;
  flex-direction: column;
  margin: 1px;
  justify-content: flex-start;
}

.item-name-padding {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.item-text-padding {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.item-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-btn-div button {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.checkout-btn-div {
  display: flex;
  flex-direction: row;
}

.checkout-btn {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

/*----------------- CHECKOUT FORM -----------------*/

form {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  font-style: normal;
  font-weight: normal;
  font-family: 'Amiko', sans-serif;
  justify-content: space-between;
}
.checkoutText h1 {
  font-family: 'Amiko', sans-serif;
  color: #ff4447;
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 3rem;
  font-style: normal;
}

.form-box {
  display: flex;
  width: 65%;
  flex-direction: column;
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #152f33;
}

.order-summary {
  display: flex;
  width: 35%;
  flex-direction: column;
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #152f33;
}

.summary-div {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.summary-div img {
  max-width: 100px;
  text-align: left;
  margin-right: 2rem;
}

.summary-div p {
  padding: 0.5rem;
  font-size: small;
  text-align: left;
}

input {
  border: 1px solid #257985;
  padding: 0.7rem;
  border-radius: 10px;
  opacity: 0.75;
  margin-top: 0.5rem;
}

.sideBySide input {
  width: 46%;
}

@media (max-width: 1350px) {
  .sideBySide input {
    width: 44.5%;
  }
}

@media (max-width: 1100px) {
  .sideBySide input {
    width: 43.5%;
  }
}

@media (max-width: 900px) {
  .sideBySide input {
    width: 42.5%;
  }
}

form h2 {
  color: #ff4447;
  margin-bottom: 0rem;
  letter-spacing: 0.05em;
  text-align: center;
}

.form-box .contact,
.form-box .shipping,
.form-box .billing,
.form-box .place-order-btn-div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.form-box .contact h4,
.form-box .shipping h4,
.form-box .billing h4 {
  margin: 0rem;
}
.order-summary .contact {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.order-summary .contact h4 {
  margin: 0rem 0rem 0rem 0rem;
}

.order-summary .contact h3 {
  margin-top: -0.5rem;
  font-size: small;
  border: 1px solid #257985;
  padding: 3rem;
  border-radius: 10px;
  opacity: 0.75;
  text-align: center;
}

.order-summary .contact h2 {
  color: #ff4447;
  font-style: bold;
  font-size: 15px;
  text-align: left;
}

.order-summary .contact .summary-div {
  display: flex;
  flex-direction: row;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  border: 1px solid #257885bd;
  border-radius: 0px 10px 10px 0px;
}

.shipping .sideBySide,
.billing .sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.shipping .column,
.billing .column,
.contact .column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.place-order-btn-div button {
  position: relative;
  font-family: 'Averia Libre', cursive;
  font-size: 18px;
  font-style: normal;
  background-color: #74d3d2;
  border: none;
  color: white;
  width: 100%;
  border-radius: 10px;
  /* padding: 0.5rem; */
  /* padding-left: 0;
  padding-right: 0; */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.place-order-btn-div button:hover {
  background-color: #1f5b64;
  cursor: pointer;
  transition: 0.25s;
}

/*----------------- VIEW CART -----------------*/

.order-summary-centered {
  display: flex;

  flex-direction: column;
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #152f33;
  align-items: center;
}

.order-summary-centered .summary-div {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order-summary-centered .summary-div img {
  max-width: 100px;
  text-align: left;
  margin-right: 2rem;
}

.order-summary-centered .summary-div p {
  padding: 1.5rem;
  font-size: small;
  text-align: left;
}

.order-summary-centered .contact {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  width: 50%;
}

.order-summary-centered .contact h4 {
  margin: 0rem 0rem 0rem 0rem;
}

.order-summary-centered .contact h3 {
  margin-top: -0.5rem;
  font-size: small;
  border: 1px solid #257985;
  padding: 3rem;
  border-radius: 10px;
  opacity: 0.75;
  text-align: center;
}

.order-summary-centered .contact h2 {
  color: #ff4447;
  font-style: bold;
  font-size: 15px;
  text-align: center;
}

.order-summary-centered .contact .summary-div {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-left: -0.5rem;
  border: 1px solid #257885bd;
  border-radius: 0px 10px 10px 0px;
}

.order-summary-centered .contact .summary-div button {
  position: relative;
  padding: 0.25rem;
  border: 1px solid #257885bd;
  border-radius: 2px;
  margin-left: 1.5rem;
}

.order-summary-centered .contact .summary-div button:hover {
  background-color: #ec3030;
  cursor: pointer;
  transition: 0.25s;
  color: white;
  border: 0;
}

/*----------------- LOGIN FORM -----------------*/

.loginSignupForm {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-style: normal;
  font-weight: normal;
  font-family: 'Amiko', sans-serif;
}
.loginSignupText h1 {
  font-family: 'Amiko', sans-serif;
  color: #ff4447;
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 3rem;
  font-style: normal;
}

.form-box-loginSignup {
  display: flex;
  flex-direction: column;
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #152f33;
  align-items: center;
}

.contact-loginSignup .column-loginSignup {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-box-loginSignup input {
  border: 1px solid #257985;
  padding: 0.7rem;
  border-radius: 10px;
  opacity: 0.75;
  margin-top: 0.5rem;
}

.form-box-loginSignup .contact-loginSignup,
.form-box-loginSignup .loginSignup-btn-div {
  width: 40%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.form-box-loginSignup .contact-loginSignup h4 {
  margin: 0rem;
}

.loginSignup-btn-div button {
  position: relative;
  font-family: 'Averia Libre', cursive;
  font-size: 18px;
  font-style: normal;
  background-color: #74d3d2;
  border: none;
  color: white;
  width: 100%;
  border-radius: 10px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.loginSignup-btn-div button:hover {
  background-color: #1f5b64;
  cursor: pointer;
  transition: 0.25s;
}

/*----------------- NOT SURE WHAT THIS -----------------*/

#shop-name {
  font-size: 3em;
}
